* {
    font-family: sans-serif;
}

body {
    background-color: #EFF3F5;
    max-width: 65em;
    margin: auto;
    line-height: 1.5;
    padding: 0.8em;
    display: grid;
    grid-template-columns: 45em 20em;
}

img {
    max-width: 100%;
}

video {
    aspect-ratio: 16 / 9;
}

a {
    text-decoration: none;
    color: #247ADF;
    word-wrap: break-word;
}

code {
    background-color: #e7e8ea;
    padding: 0.1em 0.4em;
    border-radius: 0.5em;
    font-size: 90%;
    box-decoration-break: clone;
}

summary {
    background-color: #EFF3F5;
    border-radius: 0.5em;
    padding: 0.2em 1em;
    margin-bottom: 1em;
}

select {
    width: 100%;
    border-radius: 0.5em;
    border: 1px solid #e7e8ea;
    padding: 0.5em 0.5em;
    margin-bottom: 0.5em;
}

select:hover {
    background-color: #cfd0d1;
}

.snac-top-controls summary {
    background-color: #e3e6e7;
}

.snac-history ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1em;
}

.snac-history ul li {
    background-color: #DDF4FF;
    padding: 0.1em 0.4em;
    border-radius: 0.5em;
    box-decoration-break: clone;
}

.snac-history ul li a {
    color: #247ADF;
}

body>p:nth-child(6) {
    text-align: center;
}

body>p:nth-child(6)>a {
    padding: 0.5em 5em;
    border-radius: 1em;
    background-color: #EFF3F5;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15), 0 7px 20px 0 rgba(0, 0, 0, 0.1);
}

body>p:nth-child(6)>a:hover {
    background-color: #d9e1e8;
}

.snac-origin {
    font-size: 85%;
    color: seagreen;
}

.snac-origin a {
    color: #444b5d;
}

.snac-score {
    float: right;
    font-size: 85%;
    color: coral;
}

.snac-top-nav {
    display: flex;
    flex-direction: row;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-top: 0.5em;
    margin-bottom: 1em;
    color: #EFF3F5;
    align-items: center;
    justify-content: center;
}

.snac-top-nav a {
    padding-top: 5%;
    padding-left: 5%;
}

.snac-top-nav>.snac-avatar {
    float: left;
}

.snac-top-nav>a:nth-child(2) {
    font-size: 0px;
}

.snac-top-nav>a:nth-child(2):after {
    content: url('data:image/svg+xml;dataset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="coral" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rss"><path d="M4 11a9 9 0 0 1 9 9"></path><path d="M4 4a16 16 0 0 1 16 16"></path><circle cx="5" cy="19" r="1"></circle></svg>');
}

.snac-top-nav>a:nth-child(3) {
    font-size: 0px;

}

.snac-top-nav>a:nth-child(3):after {
    content: url('data:image/svg+xml;dataset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="seagreen" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>');
}

.snac-top-nav>a:nth-child(4) {
    font-size: 0px;

}

.snac-top-nav>a:nth-child(4):after {
    content: url('data:image/svg+xml;dataset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="dodgerblue" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell"><path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path><path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg>');
}

.snac-top-nav>a:nth-child(5),
.snac-top-nav>a:nth-child(6) {
    font-size: 0px;

}

.snac-top-nav>a:nth-child(5):after,
.snac-top-nav>a:nth-child(6)::after {
    content: url('data:image/svg+xml;dataset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="rebeccapurple" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>');
}


.snac-top-nav>.snac-avatar {
    border: 0;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15), 0 7px 20px 0 rgba(0, 0, 0, 0.1);
    margin-right: auto;
}

.snac-top-user {
    text-align: center;
    padding-bottom: 2em;
    grid-column: 2 / 3;
    grid-row: span 2;
}

.snac-top-user-name {
    font-size: 180%;
    margin: 0;
}

.snac-top-user-id {
    font-size: 140%;
    margin: 0;
}

.snac-top-user-bio {
    padding-top: 1.5em;
}

.snac-avatar {
    float: left;
    height: 3em;
    width: auto;
    aspect-ratio: 1 / 1;
    border-radius: 1em;
    border: 1px solid #a0a0a0;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15), 0 7px 20px 0 rgba(0, 0, 0, 0.1);
}

.snac-author {
    font-size: 90%;
    text-decoration: none;
    color: #000;
    margin-left: 0.6em;
}

.snac-author-tag {
    font-size: 85%;
    margin-left: 0.6em;
    color: #5E6164;
}

.snac-pubdate {
    color: #a0a0a0;
    font-size: 85%;
}

.mention {
    background-color: #DDF4FF;
    color: #247ADF;
    padding: 0.1em 0.4em;
    font-size: 90%;
    border-radius: 0.5em;
}

.snac-top-controls {
    padding-bottom: 1.5em;
}

.snac-header {
    grid-column: 1 / 2;
}

h2.snac-header:nth-child(3) {
    grid-row: 1 / 2;
}

div.snac-posts:nth-child(4) {
    grid-row: 2 / 3;
}

h2.snac-header:nth-child(5) {
    grid-row: 3 / 4;
}

div.snac-posts:nth-child(6) {
    grid-row: 4 / 5;
}

.snac-posts {
    padding: 0.5em 1em;
    grid-column: 1 / 2;
    grid-row: 1 / span 10;
}

#clear {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.snac-post {
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 1em;
    background-color: #fff;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15), 0 7px 20px 0 rgba(0, 0, 0, 0.1);

}

.snac-children {
    padding-left: 1em;
    border-left: 1px solid #a0a0a0;
}

.snac-children .snac-score {
    padding: 0em;
}

.snac-content img {
    border-radius: 1em;
    border: 1px solid #EFF3F5;
}

.snac-textarea {
    font-family: inherit;
    width: 100%;
}

.snac-history {
    padding: 0 2em;
    grid-column: 2 / 3;
}

.snac-history-title {
    font-weight: 600;
    font-size: 110%;
    text-decoration: underline;
}

.snac-textarea,
textarea {
    display: inline-block;
    width: 95%;
    border: 1px solid #D8DEE4;
    border-radius: 0.5em;
    padding: 0.5em 0.5em;
}

.snac-controls textarea {
    width: 97%;
}

body>p:nth-child(6) {
    grid-column: 1 / 2;
    grid-row: 11;
}

input[type="submit"],
input[type="file"] {
    padding: 0.5em;
    text-transform: uppercase;
    padding: 0.5em;
    text-transform: uppercase;
    background-color: #e7e8ea;
    border-radius: 0.5em;
    border: none;
    transition: background-color .2s ease-out;
}

input[type="submit"]:hover,
input[type="file"]:hover {
    background-color: #cfd0d1;
}

.snac-note input[type="submit"] {
    background-color: #247ADF;
    border-radius: 1em;
    color: #fff;
    padding: 1em;
    font-weight: 700;
    width: 100%;
}

.snac-note input[type="submit"]:hover {
    background-color: #0266d7;
}

input[type=text],
input[type=password],
input[type=number] {
    width: 97%;
    height: 1.2em;
    border-radius: 0.5em;
    border: 1px solid #D8DEE4;
    padding: 0.5em 0.5em;
    margin-bottom: 0.5em;
    font-size: 90%;
}

input[type=checkbox] {
    width: 1.3em;
    height: 1.3em;
    cursor: pointer;
}

.snac-footer {
    margin-top: 2em;
    font-size: 75%;
    grid-column: 1 / 2;
    grid-row: 12;
}

.snac-poll-result {
    margin-left: auto;
    margin-right: auto;
}

.snac-top-nav>sup {
    border-radius: 0.4em;
}

@media (max-width: 860px) {
    body {
        display: flex;
        flex-direction: column;
    }

    .snac-top-user {
        width: auto;
        padding: 0 1em;
    }

    .snac-top-nav a {
        padding-top: 2.5%;
    }
}