:root {
    color-scheme: light dark;
}

:root {
    --text-color: light-dark(#333, #ccc);
    --bg-color: light-dark(#FAFAFA, #17181a);
    --img-bg: light-dark(#eaeaea, #262626);
    --accent-color: light-dark(#fc7901, #e26f02);
    --accent-bg: light-dark(#fc790130, #fc7a012d);
    --accent-hover: light-dark(#fc7a015f, #fc7a0141);
    --select-color: light-dark(#c9c9cb66, #3a3a3a);
    --select-hover: light-dark(#c9c9cb, #3f3f3f);
    --textarea: light-dark(#eee, #262626);
    --textarea-focus: light-dark(#e2e2e2, #3f3f3f);
    --origin: light-dark(#363533, #e0dede);
    --author-tag: light-dark(#666, #a0a0a0);
    --pubdate: #a0a0a0;
    --e-content1: light-dark(#f0f0f0, #3a3a3a);
    --e-content2: light-dark(#ffdab8, #694522);
    --post-border: light-dark(#c1c1c1, #333);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    accent-color: var(--accent-color);
    caret-color: var(--accent-color);
}

body {
    max-width: 40em;
    margin: 0 auto;
    line-height: 1.5;
    word-wrap: break-word;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-weight: 500;
    font-size: 15px;
    font-family: sans-serif;
    text-rendering: geometricPrecision;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    padding-top: 0.5em;
}

video {
    aspect-ratio: 16 / 9;
    background: var(--img-bg);
    border: 1px solid var(--img-bg);
}

sup {
    border-radius: 50%;
    width: 1em;
    aspect-ratio: 1;
    height: 1em;
    margin-left: -1em;
    z-index: 1;
}

a {
    text-decoration: none;
    color: var(--accent-color);
}

pre {
    overflow-x: auto;
    border-radius: 4px;
    background: var(--img-bg);
    color: var(--text-color);
    padding: 10px 15px;
    font-size: 90%;
}

pre>code {
    padding: 0;
}

code {
    border-radius: 4px;
    background: var(--img-bg);
    color: var(--text-color);
    padding: 0 4px 2px;
    font-size: 90%;
}

blockquote {
    border-left: 2px solid var(--accent-color);
    margin-left: 0.5em;
    padding-left: 0.5em;
    background: var(--img-bg);
    border-radius: 4px;
}

input[type="submit"] {
    transition: .2s;
}

input[type="file"] {
    margin-bottom: 1rem;
    width: 100%;
}

select {
    padding: 0.3rem;
    background: var(--select-color);
    border: none;
    border-radius: 4px;
    width: 49.5%;
    text-align: center;
}

input[type=file]::file-selector-button {
    background: var(--select-color);
    border: none;
    border-radius: 4px;
}

select:hover,
input[type=file]::file-selector-button:hover {
    background: var(--select-hover);
}

input[type="text"],
input[type="url"],
input[type="password"] {
    height: auto;
    font-size: inherit;
    width: 100%;
    color: inherit;
    border-radius: 4px;
    border: inherit;
}

input[class^="snac-btn-"] {
    text-indent: -9999px;
    cursor: pointer;
    transition: .2s;
    width: 1.5em;
    height: 1.5em;
    filter: var(--filter);
}


input[class^="snac-btn-"]:hover,
input[class^="snac-btn-"]:focus {
    filter: var(--filter-hover);
}

input[name="telegram_bot"] {
    margin-bottom: 0.5rem;
}

input[name="ntfy_server"] {
    margin-bottom: 0.5rem;
}

.snac-btn-like,
.snac-btn-like:focus {
    margin-right: 1em;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-star'%3E%3Cpolygon points='12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2'/%3E%3C/svg%3E") no-repeat;
}

.snac-btn-unlike,
.snac-btn-unlike:focus {
    margin-right: 1em;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-star-off'%3E%3Cpath d='M8.34 8.34 2 9.27l5 4.87L5.82 21 12 17.77 18.18 21l-.59-3.43'/%3E%3Cpath d='M18.42 12.76 22 9.27l-6.91-1L12 2l-1.44 2.91'/%3E%3Cline x1='2' x2='22' y1='2' y2='22'/%3E%3C/svg%3E") no-repeat;
}

.snac-btn-boost,
.snac-btn-boost:focus {
    margin-right: 1em;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-refresh-cw'%3E%3Cpath d='M3 12a9 9 0 0 1 9-9 9.75 9.75 0 0 1 6.74 2.74L21 8'/%3E%3Cpath d='M21 3v5h-5'/%3E%3Cpath d='M21 12a9 9 0 0 1-9 9 9.75 9.75 0 0 1-6.74-2.74L3 16'/%3E%3Cpath d='M8 16H3v5'/%3E%3C/svg%3E") no-repeat;
}

.snac-btn-unboost,
.snac-btn-unboost:focus {
    margin-right: 1em;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-refresh-cw-off'%3E%3Cpath d='M21 8L18.74 5.74A9.75 9.75 0 0 0 12 3C11 3 10.03 3.16 9.13 3.47'/%3E%3Cpath d='M8 16H3v5'/%3E%3Cpath d='M3 12C3 9.51 4 7.26 5.64 5.64'/%3E%3Cpath d='m3 16 2.26 2.26A9.75 9.75 0 0 0 12 21c2.49 0 4.74-1 6.36-2.64'/%3E%3Cpath d='M21 12c0 1-.16 1.97-.47 2.87'/%3E%3Cpath d='M21 3v5h-5'/%3E%3Cpath d='M22 22 2 2'/%3E%3C/svg%3E") no-repeat;
}

.snac-btn-bookmark,
.snac-btn-bookmark:focus {
    margin-right: 1em;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='size-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z' /%3E%3C/svg%3E%0A") no-repeat;
}

.snac-btn-unbookmark,
.snac-btn-unbookmark:focus {
    margin-right: 1em;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='2' stroke='currentColor' class='size-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m3 3 1.664 1.664M21 21l-1.5-1.5m-5.485-1.242L12 17.25 4.5 21V8.742m.164-4.078a2.15 2.15 0 0 1 1.743-1.342 48.507 48.507 0 0 1 11.186 0c1.1.128 1.907 1.077 1.907 2.185V19.5M4.664 4.664 19.5 19.5' /%3E%3C/svg%3E") no-repeat;
}

.snac-btn-follow,
.snac-btn-follow:focus {
    float: right;
    margin-right: 0;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M14 14.252V16.3414C13.3744 16.1203 12.7013 16 12 16C8.68629 16 6 18.6863 6 22H4C4 17.5817 7.58172 14 12 14C12.6906 14 13.3608 14.0875 14 14.252ZM12 13C8.685 13 6 10.315 6 7C6 3.685 8.685 1 12 1C15.315 1 18 3.685 18 7C18 10.315 15.315 13 12 13ZM12 11C14.21 11 16 9.21 16 7C16 4.79 14.21 3 12 3C9.79 3 8 4.79 8 7C8 9.21 9.79 11 12 11ZM18 17V14H20V17H23V19H20V22H18V19H15V17H18Z'%3E%3C/path%3E%3C/svg%3E") no-repeat;
}

.snac-btn-unfollow,
.snac-btn-unfollow:focus {
    float: right;
    margin-right: 0;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M14 14.252V16.3414C13.3744 16.1203 12.7013 16 12 16C8.68629 16 6 18.6863 6 22H4C4 17.5817 7.58172 14 12 14C12.6906 14 13.3608 14.0875 14 14.252ZM12 13C8.685 13 6 10.315 6 7C6 3.685 8.685 1 12 1C15.315 1 18 3.685 18 7C18 10.315 15.315 13 12 13ZM12 11C14.21 11 16 9.21 16 7C16 4.79 14.21 3 12 3C9.79 3 8 4.79 8 7C8 9.21 9.79 11 12 11ZM19 17.5858L21.1213 15.4645L22.5355 16.8787L20.4142 19L22.5355 21.1213L21.1213 22.5355L19 20.4142L16.8787 22.5355L15.4645 21.1213L17.5858 19L15.4645 16.8787L16.8787 15.4645L19 17.5858Z'%3E%3C/path%3E%3C/svg%3E") no-repeat;
}

.snac-btn-mute,
.snac-btn-mute:focus {
    float: right;
    margin-right: 1em;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M10 7.22049L6.60282 10H3V14H6.60282L10 16.7795V7.22049ZM5.88889 16H2C1.44772 16 1 15.5523 1 15V9.00001C1 8.44772 1.44772 8.00001 2 8.00001H5.88889L11.1834 3.66815C11.3971 3.49329 11.7121 3.52479 11.887 3.73851C11.9601 3.82784 12 3.93971 12 4.05513V19.9449C12 20.221 11.7761 20.4449 11.5 20.4449C11.3846 20.4449 11.2727 20.405 11.1834 20.3319L5.88889 16ZM20.4142 12L23.9497 15.5355L22.5355 16.9498L19 13.4142L15.4645 16.9498L14.0503 15.5355L17.5858 12L14.0503 8.46447L15.4645 7.05026L19 10.5858L22.5355 7.05026L23.9497 8.46447L20.4142 12Z'%3E%3C/path%3E%3C/svg%3E") no-repeat;
}

.snac-btn-delete,
.snac-btn-delete:focus {
    float: right;
    margin-right: 1em;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M17 6H22V8H20V21C20 21.5523 19.5523 22 19 22H5C4.44772 22 4 21.5523 4 21V8H2V6H7V3C7 2.44772 7.44772 2 8 2H16C16.5523 2 17 2.44772 17 3V6ZM18 8H6V20H18V8ZM9 11H11V17H9V11ZM13 11H15V17H13V11ZM9 4V6H15V4H9Z'%3E%3C/path%3E%3C/svg%3E") no-repeat;
}

.snac-btn-hide,
.snac-btn-hide:focus {
    float: right;
    margin-right: 1em;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M17.8827 19.2968C16.1814 20.3755 14.1638 21.0002 12.0003 21.0002C6.60812 21.0002 2.12215 17.1204 1.18164 12.0002C1.61832 9.62282 2.81932 7.5129 4.52047 5.93457L1.39366 2.80777L2.80788 1.39355L22.6069 21.1925L21.1927 22.6068L17.8827 19.2968ZM5.9356 7.3497C4.60673 8.56015 3.6378 10.1672 3.22278 12.0002C4.14022 16.0521 7.7646 19.0002 12.0003 19.0002C13.5997 19.0002 15.112 18.5798 16.4243 17.8384L14.396 15.8101C13.7023 16.2472 12.8808 16.5002 12.0003 16.5002C9.51498 16.5002 7.50026 14.4854 7.50026 12.0002C7.50026 11.1196 7.75317 10.2981 8.19031 9.60442L5.9356 7.3497ZM12.9139 14.328L9.67246 11.0866C9.5613 11.3696 9.50026 11.6777 9.50026 12.0002C9.50026 13.3809 10.6196 14.5002 12.0003 14.5002C12.3227 14.5002 12.6309 14.4391 12.9139 14.328ZM20.8068 16.5925L19.376 15.1617C20.0319 14.2268 20.5154 13.1586 20.7777 12.0002C19.8603 7.94818 16.2359 5.00016 12.0003 5.00016C11.1544 5.00016 10.3329 5.11773 9.55249 5.33818L7.97446 3.76015C9.22127 3.26959 10.5793 3.00016 12.0003 3.00016C17.3924 3.00016 21.8784 6.87992 22.8189 12.0002C22.5067 13.6998 21.8038 15.2628 20.8068 16.5925ZM11.7229 7.50857C11.8146 7.50299 11.9071 7.50016 12.0003 7.50016C14.4855 7.50016 16.5003 9.51488 16.5003 12.0002C16.5003 12.0933 16.4974 12.1858 16.4919 12.2775L11.7229 7.50857Z'%3E%3C/path%3E%3C/svg%3E") no-repeat;
}

.snac-btn-pin,
.snac-btn-pin:focus {
    margin-right: 1em;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M13.8273 1.69L22.3126 10.1753L20.8984 11.5895L20.1913 10.8824L15.9486 15.125L15.2415 18.6606L13.8273 20.0748L9.58466 15.8321L4.63492 20.7819L3.2207 19.3677L8.17045 14.4179L3.92781 10.1753L5.34202 8.76107L8.87756 8.05396L13.1202 3.81132L12.4131 3.10422L13.8273 1.69ZM14.5344 5.22554L9.86358 9.89637L7.0417 10.4607L13.5418 16.9609L14.1062 14.139L18.7771 9.46818L14.5344 5.22554Z'%3E%3C/path%3E%3C/svg%3E") no-repeat;
}

.snac-btn-unpin,
.snac-btn-unpin:focus {
    margin-right: 1em;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M20.9701 17.1716 19.5559 18.5858 16.0214 15.0513 15.9476 15.1251 15.2405 18.6606 13.8263 20.0748 9.58369 15.8322 4.63394 20.7819 3.21973 19.3677 8.16947 14.418 3.92683 10.1753 5.34105 8.7611 8.87658 8.05399 8.95029 7.98028 5.41373 4.44371 6.82794 3.0295 20.9701 17.1716ZM10.3645 9.39449 9.86261 9.8964 7.04072 10.4608 13.5409 16.9609 14.1052 14.139 14.6071 13.6371 10.3645 9.39449ZM18.7761 9.46821 17.4356 10.8087 18.8498 12.2229 20.1903 10.8824 20.8974 11.5895 22.3116 10.1753 13.8263 1.69003 12.4121 3.10425 13.1192 3.81135 11.7787 5.15185 13.1929 6.56607 14.5334 5.22557 18.7761 9.46821Z'%3E%3C/path%3E%3C/svg%3E") no-repeat;
}

.snac-btn-limit,
.snac-btn-limit:focus {
    float: right;
    margin-right: 1em;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-message-square-warning'%3E%3Cpath d='M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z'/%3E%3Cpath d='M12 7v2'/%3E%3Cpath d='M12 13h.01'/%3E%3C/svg%3E") no-repeat;
}

.snac-btn-unlimit,
.snac-btn-unlimit:focus {
    float: right;
    margin-right: 1em;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-message-square-off'%3E%3Cpath d='M21 15V5a2 2 0 0 0-2-2H9'/%3E%3Cpath d='m2 2 20 20'/%3E%3Cpath d='M3.6 3.6c-.4.3-.6.8-.6 1.4v16l4-4h10'/%3E%3C/svg%3E") no-repeat;
}

.snac-note input[type="submit"],
.snac-top-controls input[type="submit"],
form[id$=clear]>input[type="submit"] {
    background: var(--accent-bg);
    color: var(--accent-color);
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-weight: 700;
    width: 100%;
    height: auto;
    margin: 0.5rem 0;
    text-indent: 0;
}

.snac-note input[type="submit"]:hover,
.snac-top-controls input[type="submit"]:hover,
form[id$=clear]>input[type="submit"]:hover {
    background: var(--accent-hover);
    cursor: pointer;
}


.snac-top-controls>div:nth-child(1)>details:nth-child(1)>summary::marker {
    content: "✍️  ";
}

.snac-top-controls>details:nth-child(2)>summary::marker {
    content: "🗂️  ";
}

.snac-top-controls>details:nth-child(3)>summary::marker {
    content: "🎛️  ";
}

.snac-top-controls>details:nth-child(4)>summary::marker {
    content: "#️⃣  ";
}

.snac-top-controls>details:nth-child(5)>summary::marker {
    content: "❌  ";
}

#new_post_form>details:nth-child(12)>summary::marker,
form[id$=_reply_form] details:first-of-type summary::marker,
form[id$=_edit_form] details:first-of-type summary::marker {
    content: "📎 ";
}

#new_post_form>details:nth-child(14)>summary::marker {
    content: "📊 ";
}

.snac-controls details:nth-child(1)>summary:nth-child(1) {
    list-style: none;
    border-radius: 4px;
    padding: 0.2em 0.5em;
    color: var(--accent-color);
    background: var(--accent-bg);
}

.snac-controls details:nth-child(1)>summary:nth-child(1):hover {
    background: var(--accent-hover);
}

.snac-btn-like[value="Clear all"] {
    background: var(--accent-bg);
    color: var(--accent-color);
    border-radius: 4px;
    padding: 0.5em 1em;
    font-weight: 700;
    width: 97%;
    text-indent: 0px;
    margin: 0 0.5em;
    height: auto;
}

.snac-btn-like[value="Clear all"]:hover {
    background: var(--accent-hover);
}

.snac-announcement {
    border: 1px solid light-dark(#c1c1c1, #333);
    padding: 0.5em;
}

.snac-header {
    font-size: 1.8em;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5em;
    padding-bottom: 10px;
    position: relative;
}

.snac-header::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 3em;
    background-color: var(--accent-color);
}

.snac-header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 1px;
    width: 95%;
    max-width: 12em;
    background-color: var(--accent-bg);
}

textarea,
input {
    outline: none;
    padding: 0.3rem;
    background: var(--textarea);
    border: none;
    border-radius: 4px;
}

textarea[name="bio"],
textarea[name="metadata"],
textarea[name="followed_hashtags"],
textarea[name="blocked_hashtags"] {
    width: 100%;
}

textarea:focus,
input:focus {
    background: var(--textarea-focus);
    transition: .2s;
}

summary {
    border-radius: 4px;
    transition: .2s;
}

summary:hover {
    cursor: pointer;
    background: var(--select-color);
}

.snac-embedded-video,
img {
    max-width: 100%;
    border-radius: 4px;
}

.snac-embedded-audio {
    margin-bottom: 1em;
    border-radius: 4px;
}

/*
.snac-content > div > p:last-of-type {
    display: none;
}
*/

.snac-content a:hover {
    border-bottom: 1px solid var(--accent-color);
}

.snac-content-attachments a:hover {
    border-bottom: none;
}

.snac-content-attachments img,
.snac-content-attachments video {
    margin-bottom: 1em;
}

.snac-content-attachments {
    display: flex;
    flex-wrap: wrap;
}

.snac-content-attachments details {
    width: 100%;
    margin-bottom: 1em;
}

.snac-content-attachments>a>img {
    object-fit: contain;
    background: var(--img-bg);
    border: 1px solid var(--img-bg);
}

.snac-content-attachments a {
    flex: 1 1 200px;
    margin: 0 0.5em;
}

.snac-origin {
    font-size: 85%;
    color: limegreen;
    margin-top: 0.3rem;
}

.snac-origin>a {
    color: var(--origin);
}

.snac-score {
    float: right;
    font-size: 85%;
    margin-left: 0.5rem;
}

.snac-metadata {
    margin-bottom: 1rem;
}

.snac-top-user-name {
    font-size: 130%;
    margin-bottom: -1.1rem;
    margin-top: 0.5rem;
}

.snac-top-user-id {
    font-size: 110%;
    margin-bottom: 1rem;
}

.snac-top-user-bio {
    margin-bottom: 1em;
}

.snac-top-user-bio br {
    display: none;
}

.snac-search-box {
    text-indent: 0;
    margin-left: 1em;
}

.snac-top-nav {
    display: flex;
    position: sticky;
    top: 0;
    padding: 0.5em;
    backdrop-filter: blur(1.5rem);
    text-indent: -9999px;
    border-radius: 4px;
    z-index: 1;
}

.snac-top-nav>a:first-of-type {
    width: 2em;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M6.23509 6.45329C4.85101 7.89148 4 9.84636 4 12C4 16.4183 7.58172 20 12 20C13.0808 20 14.1116 19.7857 15.0521 19.3972C15.1671 18.6467 14.9148 17.9266 14.8116 17.6746C14.582 17.115 13.8241 16.1582 12.5589 14.8308C12.2212 14.4758 12.2429 14.2035 12.3636 13.3943L12.3775 13.3029C12.4595 12.7486 12.5971 12.4209 14.4622 12.1248C15.4097 11.9746 15.6589 12.3533 16.0043 12.8777C16.0425 12.9358 16.0807 12.9928 16.1198 13.0499C16.4479 13.5297 16.691 13.6394 17.0582 13.8064C17.2227 13.881 17.428 13.9751 17.7031 14.1314C18.3551 14.504 18.3551 14.9247 18.3551 15.8472V15.9518C18.3551 16.3434 18.3168 16.6872 18.2566 16.9859C19.3478 15.6185 20 13.8854 20 12C20 8.70089 18.003 5.8682 15.1519 4.64482C14.5987 5.01813 13.8398 5.54726 13.575 5.91C13.4396 6.09538 13.2482 7.04166 12.6257 7.11976C12.4626 7.14023 12.2438 7.12589 12.012 7.11097C11.3905 7.07058 10.5402 7.01606 10.268 7.75495C10.0952 8.2232 10.0648 9.49445 10.6239 10.1543C10.7134 10.2597 10.7307 10.4547 10.6699 10.6735C10.59 10.9608 10.4286 11.1356 10.3783 11.1717C10.2819 11.1163 10.0896 10.8931 9.95938 10.7412C9.64554 10.3765 9.25405 9.92233 8.74797 9.78176C8.56395 9.73083 8.36166 9.68867 8.16548 9.64736C7.6164 9.53227 6.99443 9.40134 6.84992 9.09302C6.74442 8.8672 6.74488 8.55621 6.74529 8.22764C6.74529 7.8112 6.74529 7.34029 6.54129 6.88256C6.46246 6.70541 6.35689 6.56446 6.23509 6.45329ZM12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22Z'%3E%3C/path%3E%3C/svg%3E");
}

.snac-top-nav>a[href$="/admin" i] {
    width: 2em;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C10.298 22 8.69525 21.5748 7.29229 20.8248L2 22L3.17629 16.7097C2.42562 15.3063 2 13.7028 2 12C2 6.47715 6.47715 2 12 2ZM12 4C7.58172 4 4 7.58172 4 12C4 13.3347 4.32563 14.6181 4.93987 15.7664L5.28952 16.4201L4.63445 19.3663L7.58189 18.7118L8.23518 19.061C9.38315 19.6747 10.6659 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4ZM12 7C13.6569 7 15 8.34315 15 10V11H16V16H8V11H9V10C9 8.34315 10.3431 7 12 7ZM14 13H10V14H14V13ZM12 9C11.4477 9 11 9.45 11 10V11H13V10C13 9.44772 12.5523 9 12 9Z'%3E%3C/path%3E%3C/svg%3E");
}

.snac-top-nav>a[href$="/notifications" i] {
    width: 2em;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M22 20H2V18H3V11.0314C3 6.04348 7.02944 2 12 2C16.9706 2 21 6.04348 21 11.0314V18H22V20ZM5 18H19V11.0314C19 7.14806 15.866 4 12 4C8.13401 4 5 7.14806 5 11.0314V18ZM9.5 21H14.5C14.5 22.3807 13.3807 23.5 12 23.5C10.6193 23.5 9.5 22.3807 9.5 21Z'%3E%3C/path%3E%3C/svg%3E");
}

.snac-top-nav>a[href$="/people" i] {
    width: 2em;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M9.55 11.5C8.30736 11.5 7.3 10.4926 7.3 9.25C7.3 8.00736 8.30736 7 9.55 7C10.7926 7 11.8 8.00736 11.8 9.25C11.8 10.4926 10.7926 11.5 9.55 11.5ZM10 19.748V16.4C10 15.9116 10.1442 15.4627 10.4041 15.0624C10.1087 15.0213 9.80681 15 9.5 15C7.93201 15 6.49369 15.5552 5.37091 16.4797C6.44909 18.0721 8.08593 19.2553 10 19.748ZM4.45286 14.66C5.86432 13.6168 7.61013 13 9.5 13C10.5435 13 11.5431 13.188 12.4667 13.5321C13.3447 13.1888 14.3924 13 15.5 13C17.1597 13 18.6849 13.4239 19.706 14.1563C19.8976 13.4703 20 12.7471 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 12.9325 4.15956 13.8278 4.45286 14.66ZM18.8794 16.0859C18.4862 15.5526 17.1708 15 15.5 15C13.4939 15 12 15.7967 12 16.4V20C14.9255 20 17.4843 18.4296 18.8794 16.0859ZM12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM15.5 12.5C14.3954 12.5 13.5 11.6046 13.5 10.5C13.5 9.39543 14.3954 8.5 15.5 8.5C16.6046 8.5 17.5 9.39543 17.5 10.5C17.5 11.6046 16.6046 12.5 15.5 12.5Z'%3E%3C/path%3E%3C/svg%3E");
}

.snac-top-nav>a[href$="/instance" i] {
    width: 2em;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M4.5 7.65311V16.3469L12 20.689L19.5 16.3469V7.65311L12 3.311L4.5 7.65311ZM12 1L21.5 6.5V17.5L12 23L2.5 17.5V6.5L12 1ZM6.49896 9.97065L11 12.5765V17.625H13V12.5765L17.501 9.97066L16.499 8.2398L12 10.8445L7.50104 8.2398L6.49896 9.97065Z'%3E%3C/path%3E%3C/svg%3E");
}

.snac-top-nav>a[href$=".rss" i] {
    width: 1.8em;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M3 17C5.20914 17 7 18.7909 7 21H3V17ZM3 10C9.07513 10 14 14.9249 14 21H12C12 16.0294 7.97056 12 3 12V10ZM3 3C12.9411 3 21 11.0589 21 21H19C19 12.1634 11.8366 5 3 5V3Z'%3E%3C/path%3E%3C/svg%3E");
}

.snac-top-nav>a {
    margin-left: 1em;
    filter: var(--filter);
}

.snac-top-nav>a:hover {
    filter: var(--filter-hover);
}

.snac-top-nav>.snac-avatar {
    margin-right: auto;
    height: 2em;
}

.snac-avatar {
    float: left;
    height: 2.5em;
    aspect-ratio: 1 / 1;
    margin-right: 0.5rem;
    border-radius: 4px;
}

.snac-author {
    font-size: 95%;
    text-decoration: none;
    font-weight: bold;
    color: var(--origin);
    margin-right: 0.3em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.snac-post-header span {
    margin-left: 0.3em;
}

.snac-post-header a:nth-child(3) {
    width: 1.1em;
    filter: brightness(0) saturate(100%) invert(52%) sepia(68%) saturate(740%) hue-rotate(191deg) brightness(99%) contrast(88%);
    vertical-align: sub;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M10 6V8H5V19H16V14H18V20C18 20.5523 17.5523 21 17 21H4C3.44772 21 3 20.5523 3 20V7C3 6.44772 3.44772 6 4 6H10ZM21 3V11H19L18.9999 6.413L11.2071 14.2071L9.79289 12.7929L17.5849 5H13V3H21Z'%3E%3C/path%3E%3C/svg%3E");
}

.snac-author-tag {
    font-size: 90%;
    color: var(--author-tag);
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.snac-pubdate {
    color: var(--pubdate);
    font-size: 85%;
    float: right;
}

.snac-top-user {
    padding: 0 0.5em;
}

.snac-top-controls {
    padding: 0 0.5em 1.5em;
}

.e-content summary {
    margin-bottom: 1em;
    padding: 0.5em;
    background-image: linear-gradient(45deg, var(--e-content2) 20%, var(--e-content1) 20%, var(--e-content1) 50%, var(--e-content2) 50%, var(--e-content2) 70%, var(--e-content1) 70%, var(--e-content1) 100%);
    background-size: 35.36px 35.36px;
    width: 100%;
    font-weight: bold;
    list-style: none;
}

.snac-posts,
body>div:nth-child(4),
body>div:nth-child(5) {
    padding: 0 0.5em
}

.snac-post {
    border-top: 1px solid var(--post-border);
    margin-bottom: 1rem;
}

.snac-post-header {
    line-height: 1.3;
}

.snac-controls summary {
    padding: 0.2em 0.3em;
    width: fit-content;
}

.snac-note summary {
    width: 100%;
}

.snac-children {
    padding-left: 1em;
    border-left: 1px solid var(--post-border);
}

.snac-top-controls summary {
    padding: 0.2em 0.3em;
}

.snac-post>details>summary::-webkit-details-marker,
.snac-post>details>summary::marker,
.snac-child>details>summary::-webkit-details-marker,
.snac-child>details>summary::marker {
    display: none;
    content: "⊞ ";
    font-size: 120%;
}

.snac-post>details[open]>summary::-webkit-details-marker,
.snac-post>details[open]>summary::marker,
.snac-child>details[open]>summary::-webkit-details-marker,
.snac-child>details[open]>summary::marker {
    display: none;
    content: "⊟ ";
}

.snac-textarea {
    font-family: inherit;
    width: 100%;
    color: inherit;
    border-radius: 4px;
    border: inherit;
    resize: vertical;
}

.snac-history {
    display: none;
}

.snac-footer {
    margin-top: 2em;
    font-size: 75%;
    color: var(--author-tag);
    padding: 0 0.5em;
}

.snac-poll-result {
    border-collapse: collapse;
    width: 100%;
}

.snac-poll-result td,
.snac-poll-result th {
    border: 1px solid var(--img-bg);
    padding: 0.2em 1em;
}

.snac-poll-result tr:nth-child(even) {
    background-color: var(--bg-color);
}

.snac-poll-result tr:hover {
    background-color: var(--textarea);
}

body>p:nth-child(7) {
    margin: 0;
    text-indent: -9999px;
    padding: 0 0.5em;
}

body>p:nth-child(7)>a:nth-child(1) {
    display: none;
}

body>p:nth-child(5)>a:nth-child(1),
body>p:nth-child(7)>a:nth-child(2) {
    background: var(--accent-bg);
    color: var(--accent-color);
    display: block;
    border-radius: 4px;
    padding: 0.3rem 1rem;
    font-weight: 700;
    text-align: center;
    width: 100%;
    transition: .2s;
    text-indent: 0;
}

body>p:nth-child(5)>a:nth-child(1):hover,
body>p:nth-child(7)>a:nth-child(2):hover {
    background: var(--accent-hover);
}

details * {
    animation: sweep .3s ease-in-out;
}

@keyframes sweep {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 600px) {
    body {
        font-size: 14px;
    }

    sup {
        left: 2px;
    }

    .snac-top-nav {
        border-radius: 0;
    }

    .snac-posts,
    body>div:nth-child(4),
    body>div:nth-child(5) {
        padding: 0 1em
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --filter: brightness(0) saturate(100%) invert(19%) sepia(0%) saturate(0%) hue-rotate(47deg) brightness(101%) contrast(98%);
        --filter-hover: brightness(0) saturate(100%) invert(47%) sepia(95%) saturate(1823%) hue-rotate(0deg) brightness(101%) contrast(103%);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --filter: brightness(0) saturate(100%) invert(85%) sepia(0%) saturate(687%) hue-rotate(49deg) brightness(94%) contrast(98%);
        --filter-hover: brightness(0) saturate(100%) invert(43%) sepia(94%) saturate(1096%) hue-rotate(3deg) brightness(92%) contrast(98%);
    }
}