@import url('https://fonts.cdnfonts.com/css/sf-mono?styles=36552,36546');

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  max-width: 48em;
  margin: 0 auto;
  line-height: 1.5;
  padding: 0.5rem 1rem;
  word-wrap: break-word;
  height: 100%;
  background-color: #17181a;
  color: #b1b1b1;
  font-weight: 400;
  font-size: 15px;
  font-family: 'SF Mono', sans-serif;
  line-height: 1.725;
  text-rendering: geometricPrecision;
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
}

video {
    aspect-ratio: 16 / 9;
}

sup {
  padding: 0 2px;
  border-radius: 5px;
  line-height: 99%;
  left: 4px;
  position: relative;
  bottom: 4px;
}

a {
  text-decoration: none;
  color: #6495ED;
}

b {
  color: #ddd;
}

pre {
  overflow-x: auto;
  border-radius: 4px;
  background: #262626;
  color: inherit;
  padding: 10px 15px;
  font-size: 90%;
}

code {
  border-radius: 3px;
  background: #262626;
  color: inherit;
  padding: 0 4px;
  font-size: 90%;
  border: 1px dotted #666;
}

blockquote {
  border-left: 2px solid #6495ED;
  margin-left: 1rem;
  padding-left: 1rem;
  background: #262626;
  border-radius: 4px;
}

input[type="file"] {
  margin-bottom: 1rem;
  width: 100%;
}

select,
input[type=file]::file-selector-button {
  background: #3a3a3a;
  border: none;
  border-radius: 4px;
  padding: 0.3rem;
  color: inherit;
}

select:hover,
input[type=file]::file-selector-button:hover {
  background: #3f3f3f;
}

input[type="text"] {
  height: auto;
  font-size: inherit;
  width: 100%;
  color: inherit;
  border-radius: 4px;
  border: inherit;
}

input[class^="snac-btn-"] {
  background: #262626;
  border: none;
  border-radius: 4px;
  padding: 0.3rem;
  font-size: 85%;
  color: inherit;
}

input[class^="snac-btn-"]:hover {
  background: #3a3a3a;
}

input[name="telegram_bot"] {
  margin-bottom: 0.5rem;
}

.snac-note input[value="Post"],
.snac-top-controls input[value="Post"],
.snac-top-controls input[value="Follow"],
.snac-top-controls input[value="Boost"],
.snac-top-controls input[value="Update user info"] {
  background: rgb(100, 149, 237, 0.2);
  color: #6495ED;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-weight: 700;
}

.snac-note input[value="Post"]:hover,
.snac-top-controls input[value="Post"]:hover,
.snac-top-controls input[value="Follow"]:hover,
.snac-top-controls input[value="Boost"]:hover,
.snac-top-controls input[value="Update user info"]:hover {
  background: rgb(100, 149, 237, 0.3);
}

.snac-top-controls input[value="Follow"],
.snac-top-controls input[value="Boost"] {
  margin-top: 0.5rem;
}


.snac-top-controls > div > details > summary::marker {
  content: "✏️ ";
}

.snac-top-controls #new_post_form details:first-of-type summary::marker {
  content: "📎 ";
}

.snac-top-controls #new_post_form details:last-of-type summary::marker {
  content: "📊 ";
}

.snac-top-controls > details:first-of-type summary::marker {
  content: "🗃️ ";
}

.snac-top-controls > details:last-of-type summary::marker {
  content: "⚙️ ";
}


form[id$=_reply_form] details:first-of-type summary::marker {
  content: "📎 ";
}

.snac-controls details:first-of-type summary::marker {
  content: "🗨️ ";
}

h2::before {
  position: absolute;
  left: -1.2rem;
  color: #6495ED;
  content: "#";
  font-size: 1.5rem;
}

h2 {
  position: relative;
  display: block;
  margin-left: 1rem;
}

textarea,
input {
  outline: none;
  padding: 0.3rem;
  background: #262626;
  border: none;
  border-radius: 4px;
  color: inherit;
}

textarea[name="bio"],
textarea[name="metadata"] {
  width: 100%;
}

textarea:focus,
input:focus {
  background: #3f3f3f;
}

summary {
   border-radius: 4px;
   padding: 0.1rem 0.2rem;
   width: fit-content;
}

summary:hover {
  cursor: pointer;
  background: #262626;
}

.snac-embedded-video,
img {
  max-width: 100%;
  border-radius: 4px;
  background: #1d1e20;
}

.snac-announcement {
    border: 1px solid #333;
    padding: 0.5em;
}

.snac-origin {
  font-size: 85%;
  color: limegreen;
  margin-top: 0.3rem;
}

.snac-origin>a {
  color: #a0a0a0;
}

.snac-score {
  float: right;
  font-size: 85%;
  margin-left: 0.5rem;
}

.snac-top-user-banner > img {
  width: 100%;
}

.snac-metadata {
  margin-bottom: 1rem;
}

.snac-top-user-name {
  font-size: 150%;
  margin-bottom: -1.1rem;
  margin-top: 0.5rem;
  color: #ddd;
}

.snac-top-user-id {
  font-size: 110%;
  margin-bottom: 1rem;
}

.snac-top-user-bio {
    margin-bottom: 1em;
}

.snac-top-user-bio br {
    display: none;
}

.snac-search-box {
  margin-left: 1em;
  width: 10em;
  color: #b1b1b1;
}

.snac-top-nav {
  color: #17181a;
  display: flex;
  align-items: center;
  justify-content: end;
}

.snac-top-nav > a {
  text-transform: capitalize;
  border-left: 1px solid;
  padding-left: 0.6rem;
  line-height: 1em;
}

.snac-top-nav > a:first-of-type {
  padding-left: 0;
  border-left: 0;
}

.snac-top-nav>a:hover {
  text-decoration: underline;
}

.snac-top-nav>.snac-avatar {
  margin-right: auto;
}

.snac-avatar {
  float: left;
  height: 2.5rem;
  aspect-ratio: 1 / 1;
  margin-right: 0.5rem;
  border-radius: 8px;
}

.snac-author {
  font-size: 95%;
  text-decoration: none;
  font-weight: 700;
  color: #ddd;
}

.snac-author-tag {
  font-size: 90%;
  color: #a0a0a0;
  text-decoration: none;
}

.snac-pubdate {
  color: #a0a0a0;
  font-size: 90%;
  float: right;
}

.snac-top-controls {
  padding-bottom: 1.5em;
}

.e-content summary {
  margin-bottom: 1rem;
  color: palevioletred;
}

.snac-post {
  border-top: 1px solid #333;
  margin-bottom: 1rem;
}

.snac-post-header {
  line-height: 1.3;
}

.snac-children {
  padding-left: 1.5em;
  border-left: 1px solid #333;
}

.snac-textarea {
  font-family: inherit;
  width: 100%;
  color: inherit;
  border-radius: 4px;
  border: inherit;
}

.snac-history {
  display: none;
}

.snac-btn-mute {
  float: right;
  margin-left: 0.5em;
}

.snac-btn-unmute {
  float: right;
  margin-left: 0.5em;
}

.snac-btn-follow {
  float: right;
  margin-left: 0.5em;
}

.snac-btn-unfollow {
  float: right;
  margin-left: 0.5em;
}

.snac-btn-hide {
  float: right;
  margin-left: 0.5em;
}

.snac-btn-delete {
  float: right;
  margin-left: 0.5em
}

.snac-btn-limit {
  float: right;
  margin-left: 0.5em;
}

.snac-btn-unlimit {
  float: right;
  margin-left: 0.5em;
}

.snac-footer {
  margin-top: 2em;
  font-size: 75%;
  color: inherit;
}

.snac-poll-result {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 500px) {
  body {
    font-size: 14px;
  }

  sup {
    left: 2px;
  }

  .snac-children {
    padding-left: 1em;
  }

  input[class^="snac-btn-"] {
    font-size: 80%;
  }

  .snac-pubdate {
    font-size: 80%;
  }

  h2::before {
    top: -0.2rem;
  }

  .snac-top-nav > a {
    padding-left: 0.1rem;
    margin: -0.2rem;
  }
}

