:root {
  --color-background: #22272b;
  --color-foreground: #c9ccd3;
  --color-primary: #618f45;
  --color-primary-hover: #5d8244;
  --color-secondary: #262b30;
  --color-border: #21262a;
  --color-muted: #8f939d;
  --color-light: #e9e9e9;
  --font-sans: sans-serif;
  --border-radius: 6px;
}

* {
  box-sizing: border-box;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  accent-color: var(--color-primary);
  caret-color: var(--color-primary);
}

body {
  max-width: 90em;
  margin: 0 auto;
  line-height: 1.5;
  padding: 0.8em 0;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  font-family: var(--font-sans);
  font-size: 14px;
  font-weight: 400;
  background-color: var(--color-background);
  color: var(--color-foreground);
  display: grid;
  grid-template-columns: 25em 40em 25em;
  grid-template-rows: minmax(10px, fit-content);
  gap: 0 1.5em;
}

sup {
  font-size: 64%;
  font-weight: 700;
  line-height: 0;
  position: absolute;
  border-radius: 50%;
  color: red !important;
  top: 0.5em;
}

input[type="checkbox"]:not(:checked) {
  opacity: 0.5;
}

input[type="checkbox"] {
  margin: 0 0.3em;
}

input,
textarea {
  margin: 0.3em 0;
}

.button,
.snac-controls input[value="Post"],
.snac-top-controls input[value="Post"],
.snac-top-controls input[value="Follow"],
.snac-top-controls input[value="Boost"],
.snac-top-controls input[value="Like"],
.snac-top-controls input[value="Update user info"] {
  background-color: var(--color-primary);
  border: none;
  border-radius: var(--border-radius);
  text-align: center;
  width: 10em;
  padding: 0.3em 0;
  color: var(--color-foreground);
  font-weight: 600;
}

.button:hover,
.snac-controls input[value="Post"]:hover,
.snac-top-controls input[value="Post"]:hover,
.snac-top-controls input[value="Follow"]:hover,
.snac-top-controls input[value="Boost"]:hover,
.snac-top-controls input[value="Like"]:hover,
.snac-top-controls input[value="Update user info"]:hover {
  border: none;
  background-color: var(--color-primary-hover);
}

input[type="text"],
input[type="file"],
input[type="password"],
input[type="number"],
input[type="url"],
textarea {
  width: 100%;
  background-color: var(--color-background);
  color: var(--color-foreground);
  border: 1px solid var(--color-background);
  border-radius: var(--border-radius);
  font-size: inherit;
  padding: 0.3em;
  resize: vertical;
}

input[type=file]::file-selector-button {
  background-color: var(--color-secondary);
  border: none;
  border-radius: 4px;
  padding: 2px 8px;
  font-size: 13px;
  font-weight: 400;
  color: var(--color-muted);
  cursor: pointer;
}

input:hover,
input:focus,
select:hover,
select:focus,
textarea:hover,
textarea:focus,
.snac-search-box>input:hover,
.snac-search-box>input:focus {
  outline: none !important;
  border: 1px solid var(--color-primary);
}

select {
  background-color: var(--color-background);
  color: var(--color-foreground);
  border: 1px solid var(--color-background);
  border-radius: var(--border-radius);
  font-size: inherit;
  padding: 0.3em;
  width: 49%;
}

.snac-search-box>input {
  border: 1px solid var(--color-secondary);
  line-height: 1.75;
  margin-top: 0.6em;
}

.snac-top-user-banner {
  display: none;
}

.snac-instance-blurb a,
.snac-content a,
.snac-top-nav a,
.snac-top-user a,
.snac-history a,
.snac-footer a {
  color: var(--color-primary);
  text-decoration: none;
  cursor: pointer;
}

.snac-instance-blurb a:hover,
.snac-content a:hover,
.snac-top-nav a:hover,
.snac-top-user a:hover,
.snac-history a:hover,
.snac-footer a:hover {
  text-decoration: underline;
}

.snac-content a:visited {
  color: var(--color-primary-hover);
}

.snac-content ul {
  margin-left: 1em;
}

pre {
  overflow-x: scroll;
  border-radius: var(--border-radius);
  background-color: #1d2124;
  color: inherit;
  padding: 10px 15px;
  font-size: 90%;
}

code {
  border-radius: 4px;
  background-color: #1d2124;
  color: inherit;
  padding: 0 4px;
  font-size: 90%;
}

blockquote {
  border-left: 3px solid var(--color-primary-hover);
  margin: 0.5em 0;
  padding: 0.3em 0.3em 0.3em 1em;
  background-color: var(--color-background);
  border-radius: 0 8px 8px 0;
}

.snac-embedded-video,
img {
  max-width: 100%;
  border-radius: var(--border-radius);
  background-color: var(--color-background);
  margin-top: 0.3em;
}

#clear {
  grid-column: 3 / 4;
  grid-row: 1;
}

#clear input {
  position: sticky;
  top: 6.1em;
  width: 100%;
  background-color: var(--color-secondary);
  color: var(--color-muted);
  border: 0px;
  border-radius: var(--border-radius);
  text-align: center;
  font-size: 14px;
  padding: 0.6em 0;
  font-weight: 600;
  text-decoration: none;
}

#clear input:hover {
  filter: opacity(80%);
}

input[class^="snac-btn-"] {
  background: var(--color-background);
  border: none;
  border-radius: 4px;
  padding: 2px 8px;
  font-size: 13px;
  font-weight: 400;
  color: var(--color-muted);
  cursor: pointer;
}

input[class^="snac-btn-"]:hover {
  background: #1a1e21;
}

.snac-post-header {
  line-height: 1.2;
  margin-bottom: 0.5em;
}

.snac-origin {
  font-size: 85%;
  margin-bottom: 0.3em;
}

.snac-origin a {
  color: var(--color-primary);
  text-decoration: none;
  cursor: pointer;
}

.snac-score {
  float: right;
  font-size: 85%;
  border: 1px solid var(--color-border);
  padding: 0.1em;
  color: var(--color-muted);
}

.snac-top-user {
  padding-bottom: 2em;
  grid-column: 3 / 4;
  grid-row: 1;
  height: fit-content;
  position: sticky;
  top: 1em;
}

.snac-top-user-name {
  font-size: 1.2em;
  color: var(--color-light);
  margin-left: 2.9em;
}

.snac-top-user-id {
  margin-left: 3.5em;
  margin-bottom: 0.3em;
}

.snac-top-user-bio {
  margin-bottom: 0.3em;
}

.snac-post-header,
.snac-metadata {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.snac-announcement {
  border: black 1px solid;
  padding: 0.5em;
}

.snac-avatar {
  float: left;
  height: 2.2em;
  width: 2.2em;
  margin-right: 0.6em;
}

.snac-post p .snac-author {
  font-size: 90%;
  text-decoration: none;
  color: var(--color-light);
  font-weight: 500;
}

.snac-author-tag {
  font-size: 80%;
  color: var(--color-muted);
  text-decoration: none;
  cursor: pointer;
}

.snac-pubdate {
  color: var(--color-muted);
  font-size: 0.6rem;
}

.snac-top-controls {
  padding-bottom: 1.5em;
  grid-column: 1 / 2;
  grid-row: 1;
  margin-top: 5em;
  height: fit-content;
  position: sticky;
  top: 6em;
  scrollbar-width: none;
  overflow-y: scroll;
}

.snac-top-controls:has(details[open]) {
  height: 89vh;
}

.snac-top-controls::-webkit-scrollbar {
  display: none;
}

.snac-top-controls summary {
  list-style: none;
  display: flex;
}

.snac-top-controls summary:hover {
  cursor: pointer;
  color: var(--color-primary);
}

.snac-top-controls details>summary:after {
  content: "+";
  margin-left: auto;
}

.snac-top-controls details[open]>summary:after {
  content: "⨯";
  margin-bottom: 1em;
}

.snac-top-controls details[open]>summary {
  color: var(--color-primary);
}

.snac-top-controls details {
  width: 100%;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  background-color: var(--color-secondary);
  padding: 0.5em 1.5em;
  margin: 0.5em 0;
}

.snac-controls summary {
  list-style: none;
  color: var(--color-primary);
  text-decoration: none;
  cursor: pointer;
}

.snac-controls summary:hover {
  color: var(--color-primary-hover);
}

.snac-controls details[open]>summary {
  margin-bottom: 0.3em;
  text-decoration: underline;
}

.snac-top-nav {
  grid-column: 1 / 2;
  grid-row: 1;
  text-transform: capitalize;
  position: sticky;
  top: 1em;
  height: fit-content;
  color: var(--color-background);
}

.snac-top-nav sup {
  font-size: 0.1em;
  padding: 2em;
  border-radius: 50%;
  margin-top: 3em;
}

.snac-top-nav a {
  margin: 0 0.2em;
}

.snac-top-nav>.snac-avatar {
  margin-left: 68em;
  position: absolute;
  width: 2.8em;
  height: 2.8em;
}

.snac-posts {
  grid-column: 2 / 3;
  grid-row: 1;
  max-width: 40em;
}

.snac-post {
  min-height: 75px;
  width: 100%;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  background-color: var(--color-secondary);
  padding: 1em 1.5em;
  margin-bottom: 1.2em;
}

.snac-content {
  margin: 0.5em 0;
  line-height: 1.3;
}

.snac-content p {
  margin: 5px auto;
}

.snac-content summary {
  color: #ff9800;
}

.snac-content summary:hover {
  cursor: pointer;
}

.snac-content summary::marker {
  content: "⦿ ";
  font-size: 1.1em;
}

.snac-content details[open] summary::marker {
  content: "◎ ";
}

.snac-content-attachments {
  margin: 0.5em 0;
}

.snac-post>details>summary:first-of-type {
  color: #618f45;
  visibility: collapse;
  list-style: none;
  text-align: center;
  cursor: pointer;
}

.snac-post>details>summary:first-of-type:hover {
  color: #5d8244;
}

.snac-post>details>summary:first-of-type:before {
  content: "⊞";
  visibility: visible;
}

.snac-post>details[open]>summary:first-of-type:before {
  content: "⊟";
  visibility: visible;
}

.snac-post>details>summary:first-of-type:after {
  content: "Show thread";
  visibility: visible;
}

.snac-post>details[open]>summary:first-of-type:after {
  content: "Hide thread";
  visibility: visible;
}

.snac-children {
  padding-left: 1em;
  border-left: 1px solid #4e5358;
}

.snac-children:hover {
  border-left: 1px solid var(--color-primary);
}

.snac-child {
  margin: 1em 0;
}

.snac-textarea {
  font-family: inherit;
  width: 100%;
}

.snac-history {
  border: 1px solid #292e33;
  border-radius: var(--border-radius);
  padding: 0 2em;
  margin-bottom: 1.2em;
  grid-column: 3 / 4;
  grid-row: 1;
  align-self: end;
}

.snac-history>ul {
  columns: 3;
}

.snac-history>ul li {
  list-style-position: inside;
}

.snac-property-name {
  color: var(--color-light);
}

.snac-header {
  text-align: center;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.snac-post-with-desc b {
  font-weight: 500;
}

.snac-post-with-desc b a {
  color: var(--color-primary);
  text-decoration: none;
}

.snac-btn-mute,
.snac-btn-unmute,
.snac-btn-follow,
.snac-btn-unfollow,
.snac-btn-hide,
.snac-btn-delete,

.snac-btn-limit,
.snac-btn-unlimit {
  float: right;
  margin-left: 0.5em;
}

.snac-footer {
  margin-top: 2em;
  font-size: 75%;
  grid-column: 3 / 4;
  grid-row: 2;
  justify-content: end;
  align-content: end;
  margin-left: auto;
}

.snac-poll-result {
  border-collapse: collapse;
  border-radius: var(--border-radius);
  overflow: hidden;
  width: fit-content;
  min-width: 80%;
  margin: 0 auto;
}

.snac-poll-result th,
.snac-poll-result td {
  padding: 0.5em;
  background: var(--color-background);
  border-bottom: 2px solid var(--color-secondary);
}

.snac-poll-result td:last-of-type {
  text-align: right;
  border-left: 2px solid var(--color-secondary);
}

.snac-list-of-lists {
  list-style: none;
  grid-column: 3 / 4;
  grid-row: 1;
  margin-top: 5em;
  columns: 3;
  position: sticky;
  top: 5.9em;
  height: fit-content;
}

.snac-list-of-lists li {
  list-style-position: inside;
  margin-bottom: 1em;
}

.snac-list-link {
  background-color: #333333;
  border-radius: var(--border-radius);
  text-align: center;
  width: 7em;
  padding: 0.2em;
  display: block;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--color-foreground);
}

.snac-list-link:hover {
  background-color: var(--color-primary);
}

a[name="snac-more"] {
  display: block;
  background-color: var(--color-secondary);
  color: var(--color-muted);
  padding: 0px 20px;
  border: 0px;
  border-radius: var(--border-radius);
  text-align: center;
  font-size: 14px;
  line-height: 32px;
  font-weight: 600;
  text-decoration: none;
  order: -1;
}

a[name="snac-more"]:hover {
  filter: opacity(80%);
}

body>p {
  font-size: 0;
  display: flex;
  flex-direction: column;
  grid-column: 2 / 3;
  grid-row: 2;
}

body>p>a:nth-child(1) {
  display: none;
}

.snac-post-header>p>a:nth-child(3) {
  color: var(--color-primary);
  font-weight: 700;
  font-size: 1.1em;
  text-decoration: none;
  vertical-align: baseline;
  margin: 0 0.3em;
}

@media (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    padding: 0 0.8em;
  }

  .snac-posts {
    max-width: 100%;
  }

  .snac-post {
    padding: 1em;
}

  .snac-top-nav {
    background-color: var(--color-background);
    top: 0;
    padding: 0.5em 0;
  }

  .snac-search-box>input {
    margin-bottom: 0;
  }

  .snac-top-controls,
  .snac-list-of-lists {
    position: static;
    margin: 0;
  }

  .snac-top-controls {
    padding-bottom: 0.5em;
  }

  .snac-top-controls:has(details[open]) {
    height: fit-content;
  }

  .snac-top-user,
  .snac-history,
  .snac-top-nav>.snac-avatar {
    display: none;
  }

}